services:
  timekeeper:
    container_name: timekeeper_app
    build: .
    restart: always
    ports:
      - "8081:8081"
    volumes:
      - ./db.json:/app/db.json
      - ./.nicegui:/app/.nicegui
    environment:
      - TZ=Asia/Ho_Chi_Minh